<div class="container">
    <h2>All Product</h2>
    <ng-container *ngFor="let product of product">
        <div class="course-container">
            <div class="course-card">
                <div>
                    <img [src]="product.image" style="width:220px; height:140px;">
                </div>
                <div class="course-name"><h4>{{ product.name}}</h4></div>
                <div class="course-description"><p>{{product.description.slice(0, 80)}}...</p></div>
                <div class="details">
                    <div class="course-type" [ngStyle]="{color: product.type === 'food' ? 'Green' : 'Red'}">{{product.type}}</div>
                    <div class="course-price"><b>Price:</b>  {{currency + " " + product.price}}</div>
                </div>
                <div class="course-buttons">
                    <button class="btn btn-buy">Buy Now</button>
                    <button class="btn btn-show" routerLink="/Product/{{product.id}}">Show Deatils</button>
                </div>
            </div>
        </div>  
    </ng-container>
</div>

