<!-- <ng-container *ngFor="let p of products"> -->
    <p>Hello</p>
    <div class="course-container">
        <div>
            <img src="{{product.image}}" width="560" height="280">
        </div>
        <div>
            <h1 style="text-align: center;">{{product.name}}</h1>
        </div>
        <div class="course-details">
            <!-- <div style="margin: 0px 10px;"><b>Author: </b>{{p.author}}</div> -->
            <!-- <div style="margin: 0px 10px;"><b>Duration: </b>{{p.duration}}</div> -->
            <div style="margin: 0px 10px;"><b>Type: </b>{{product.type}}</div>
        </div>
        <div style="margin: 0px 10px;">
            <h2>Price: {{product.price}}$</h2>
        </div>
        <div style="margin: 20px 10px;">
            <p>{{product.description}}</p>
        </div>
    </div>
    
<!-- </ng-container> -->
