<div class="filer-container">
    <span> Fliter : </span>
    <input type="radio" name="filter" value="All" [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChanged()">
    <span> {{ 'All Products ('+all+')'}}</span>

    <input type="radio" name="filter" value="Food"  [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChanged()">
    <span> {{ 'Food ('+food+')'}}</span>

    <input type="radio" name="filter" value="Drink"  [(ngModel)]="selectedRadioButtonValue" (change)="onRadioButtonSelectionChanged()">
    <span> {{ 'Drink ('+drink+')'}} </span>

</div>